a.ssba_tooptip{outline:none;text-decoration:none !important;color:inherit !important;}
a.ssba_tooptip strong{line-height:12px;}
a.ssba_tooptip:hover{text-decoration:none;color:inherit !important;} 
a.ssba_tooptip span{z-index:10;display:none;padding:10px;margin-top:-30px;margin-left:28px;line-height:16px;}
a.ssba_tooptip:hover span{font-family: arial;font-size: 12px;display:inline;position:absolute;color:#555e58;border:1px solid #e0dddd;background:#f5f5f5;}
.callout{z-index:20;position:absolute;top:30px;border:0;left:-12px;}
a.ssba_tooptip span{border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;-o-border-radius:4px;}