#ssba-header { 
background-color: #42a7e2;
padding: 30px;
margin: -19px 0 0 -19px;
min-height: 60px;
}

#ssba-logo {
float: left;
margin-right: 50px;
}

#ssba-top-nav {
margin-top: 12px;
}

#ssba-top-nav a {
padding: 15px;
font-size: 14px;
color: #ffffff;
text-decoration: none;
}

#ssba-tabs {
height: 40px;
margin: 0 0 0 -19px;
background: #59625c;
border-top: 1px solid #515953;
border-bottom: 1px solid #515b55;
}

#ssba-tabs a {
text-decoration: none;
color: #f5f5f5;
font-weight: normal;
display: inline-block;
padding: 12px 30px;
background: #636b66;
}

.ssba-selected-tab {
color: #21759b !important;
font-weight: bold !important;
background-color: #ffffff !important;
border-bottom: 1px solid #ffffff;
}

.ssba-include-list {
background: #f1f1f1;
width: 150px; 
float: left;
}

.include-heading {
font-size: 15px !important;
}

.connectedSortable { 
background-color: #ffffff;
border: 1px solid #dfdfdf;
min-height: 396px;
min-width: 150px;
font-size: 12px;
font-weight: light;
padding: 7px 0;
line-height: 20px;
display: block;
margin-right: 13em;
}

#ssbasort1, #ssbasort2 {  list-style-type: none; margin: 0; float: left; margin-right: 10px; cursor:move;}
#ssbasort1 li, #ssbasort2 li {
border-color: #dfdfdf;
-webkit-box-shadow: inset 0 1px 0 #fff;
box-shadow: inset 0 1px 0 #fff;
background: #f1f1f1;
background-image: -webkit-gradient(linear,left bottom,left top,from(#ececec),to(#f9f9f9));
background-image: -webkit-linear-gradient(bottom,#ececec,#f9f9f9);
background-image: -moz-linear-gradient(bottom,#ececec,#f9f9f9);
background-image: -o-linear-gradient(bottom,#ececec,#f9f9f9);
background-image: linear-gradient(to top,#ececec,#f9f9f9);border: 1px solid #c0bebe; margin: 0px 0px 5px; padding: 3px; font-size: 1.2em; width: 120px; }

.available { border-left: 1px solid #dfdfdf; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }
.chosen { padding: 10px 20px 10px 10px; border-right: 1px solid #dfdfdf; border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf; }

.ssba-box {
-moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px;  border-radius: 10px; -o-border-radius: 10px;
width:345px;
padding:20px;
background: #f1f1f1;
margin: 10px 0px 10px;
font-size: 14px;
border: 1px solid #dfdfdf;
}

.ssba-shadow .ssba-box-content {
color: #737373;
background: #f1f1f1;
}

.centerme {
text-align: center;
}

.centerme a { text-decoration: none; font-weight: bold; }